<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
  <!-- <div > -->
  <ion-grid class="full-height">
    <ion-row style="height: 100%;">
      <!-- <ion-col size="3"></ion-col> -->
      <ion-col class="main-bg">

        <ion-row class="ion-justify-content-start main-img-def">
          <ion-col size="7">
            <ion-img src="assets/images/elit_2.png"></ion-img>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-textarea disabled class="main-text-style">
              מחסני עלית מתמחים בייצור פנלים מבודדים מדולריים לבנייה קלה, בחיפויי פח מגולוון ואלומיניום ונותנים מענה
              מקיף למבני משרדים, מבני מגורים,מחסנים,מחסני גינה, עמדות שמירה ועוד...
            </ion-textarea>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-textarea disabled class="main-text-style">
              מעוניינים במבנה מבנייה קלה?
              המשיכו לפרטים נוספים!
            </ion-textarea>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="ion-text-center ion-justify-content-center">
            <div text-center>
              <button class="btn-grad" (click)="nextPage()">לחצו כאן!</button>
            </div>

          </ion-col>
        </ion-row>

      </ion-col>
      <!-- <ion-col size="3"></ion-col> -->
    </ion-row>
  </ion-grid>

  <!-- </div> -->

</ion-content>